{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Food to your Fridge{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="product_id">Product ID</label>
    <input name="product_id" id="title" value="{{ request.form['product_id'] }}" required>
    <label for="amount">Amount</label>
    <input name="amount" id="title">{{ request.form['amount'] }}</input>
    <label for="unit">Unit</label>
    <input name="unit" id="title">{{ request.form['unit'] }}</input>
    <input type="submit" value="Save">
  </form>
{% endblock %}