<!doctype html>
<title>{% block title %}{% endblock %} - FitFridge</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>FitFridge</h1>
  <div id="menuleft">
    <a href="{{url_for('fridge.viewFridge')}}">Fridge</a>
    <a href="{{url_for('blog.index')}}">Main</a>
  </div>
  <div id="usermenu">
    {% if g.user %}
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
      <a href="{{ url_for('fridge.viewFridge')}}">{{ g.user['username'] }}</span>
    {% else %}
      <a href="{{ url_for('auth.register') }}">Register</a>
      <a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>