/*COLOR SCHEMA from dark to light in green tones
#051F20 close to dark
#0B2B26 
#163832
#235347
#8eb69b mint green
#daf1de close to white
*/

:root{
  --bg: #daf1de;
  --accent: #235347;
  --lightaccent: #8eb69b;

}

html, body {
    font-family: sans-serif;
    font-style: arial;
    color: #051F20;
    background: var(--bg);
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--bg);
    text-decoration: none;
}

#menubar{
    display: flex;
    justify-content: space-between;
}

#productmenu{
  display: flex;
  justify-content:space-between;
    align-items: baseline;
}

#usermenu, #menuleft{
    display: flex;
    align-self: center;
}

nav {
    background: #163832;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

button{
  background-color: #235347;
  font-size: 1.25rem;
  color: var(--bg);
  border-radius: 6px;
  border-color: var(--accent);
  border-style: inherit;
  margin: 0.1rem;
  padding: 8px;
}

button:hover{
  background-color: #8eb69b;
  color: #daf1de;
  transition-duration: 100ms;
}

#addbutton{
  background-color: #235347;
}

#productbutton{
  font-size: 1rem;
  margin: 0;
  padding: 6px;
}

nav a {
  padding: 0.4rem 0.6rem;
  text-decoration: none;
  text-align: center;
  font-size: 1.25em;
}

nav a:hover {
  background-color: #8eb69b;
  color: #daf1de;
  transition-duration: 100ms;
}

input{
  background-color: #daf1de;
  border-radius: 6px;
  border-style: inherit;
}

#logo{
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    font-style: arial;
    color: #daf1de;
    background-color:#0B2B26;
    font-size: 1.5rem;
    padding: 0.1rem;
}

#headeractions{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#iteminfo{
  justify-content: space-evenly;
}

#itemstats{
  font-size: 1rem;
}

#stats{
  font-size: 2.5rem;
  display: flex;
  justify-content: space-evenly;

}

#statsfooter{
  text-align: center;
  font-size: 2rem;
}

.content {
    padding: 0 1rem 1rem;
}